@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Signika Negative", sans-serif !important;
}

html,
body {
  overflow: auto;
}
body {
  height: 100vh;
}
